<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a student from the
      <a
        class="underline-link"
        href="https://uwaterloo.ca/engineering/"
        target="_blank"
        >University of Waterloo Engineering</a
      >
      with co-op and honours.
    </p>

    <p>
      My unique background in architecture allows me to collaborate with experts
      in other fields to create cross-disciplinary projects. I have consulted
      for smart city integration for the University of Waterloo campus for
      <a
        class="underline-link"
        href="https://www.engsoc.uwaterloo.ca/events/waterloo-engineering-competition/"
        target="_blank"
        >Waterloo Engineering Competition (WEC)</a
      >.
    </p>

    {% include employment-status.html %}
  </div>
</section>
