<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a student from the <a class="underline-link" href="https://uwaterloo.ca/engineering/" target="_blank">University of Waterloo Engineering</a> with co-op and honours. 
      I have distinguished myself as a disciplined and self-motivated student through <strong>Dean's Honours List</strong> and being nominated for <strong>co-op student of the year</strong>. 
      
      I have also completed an edX <a class"underline-link" href="https://courses.edx.org/dashboard/programs/865bbad4-6643-4d59-85d3-936cf3a7acf4/" target="_blank">Software Development Professional Certificate</a> from the University of Pennsylvania, focusing on fundamentals such as 
      <b>Object Oriented Programming</b>, <b>Data Structures</b>, and <b>Algorithms</b>. 
    </p>

    <p>
      I'm dedicated to bridging the gap between engineering and end-user requirements — combining my technical knowledge with my keen eye for design to create high performance products. 
      My goal is to build applications that are clean, scalable, and efficient under the hood while providing seamless user experiences.
      <!-- As a software engineer, I enjoy bridging the gap between engineering and design &mdash; combining my technical knowledge
      with my keen eye for design to create a beautiful product. My goal is to always build applications that are scalable
      and efficient under the hood while providing engaging, pixel-perfect user experiences. -->
    </p>

    <p>
      My unique background in architecture allows me to collaborate with experts in other fields to create cross-disciplinary projects. 
      In the past, I have worked with the Bjarke Ingels Group (BIG), Office for Metropolitan Architecture (OMA), 3XN, and Revery Architects. 
      I have consulted for smart city integration for the University of Waterloo campus in Waterloo Engineering Competition (WEC), 
      and have also given a talk at the City of Ottawa regarding my award winning proposal for urban design.
      <!-- <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list. -->
    </p>

    {% include employment-status.html %}
  </div>
</section>
