<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm a student from the <a class="underline-link" href="https://uwaterloo.ca/engineering/" target="_blank">University of Waterloo Engineering</a> with co-op and honours. <br>
      I have also completed an edX <a class"underline-link" href="https://courses.edx.org/dashboard/programs/865bbad4-6643-4d59-85d3-936cf3a7acf4/" target="_blank">Software Development Professional Certificate</a> course from the University of Pennsylvania.
    </p>

    <p>
      I'm dedicated to bridging the gap between engineering and end-user experience — combining my technical knowledge with my keen eye for design to create high performance products. 
      My goal is to build applications that are clean, scalable, and efficient under the hood in order to provide seamless user experience.
    </p>

    <p>
      My unique background in architecture allows me to collaborate with experts in other fields to create cross-disciplinary projects. 
      <!-- In the past, I have worked with the Bjarke Ingels Group (BIG), Office for Metropolitan Architecture (OMA), 3XN, and Revery Architects.  -->
      I have consulted for smart city integration for the University of Waterloo campus in <a class="underline-link" href="https://www.engsoc.uwaterloo.ca/events/waterloo-engineering-competition/" target="_blank">Waterloo Engineering Competition (WEC)</a>, and have also given a talk at the <a class="underline-link" href="https://ncc-ccn.gc.ca/the-urbanism-lab" target="_blank">National Capital Commission's Urbanism Lab</a> regarding my award winning proposal for the City of Ottawa riverfront.
    </p>
    
    {% include employment-status.html %}
  </div>
</section>
