<section class="section featured-projects">
  <div class="section__title">Featured Project</div>
  <div class="section__content">

    <div class="project web3d">
      <figure class="project__pic">
        <a href="https://bennettoh.github.io/web3d/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/web3d/web3d_animated.gif" alt="image not found">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://bennettoh.github.io/web3d/" target="_blank">Web3D</a>
        </div>
        <p>
          Interactive 3D modeling environment on web browser. It utilizes WebGL with the aid of three.js library. Work in progress.
        </p>
      </figcaption>
    </div>

    <div class="project screentime">
      <figure class="project__pic phones">
        <a href="https://baton-app.bubbleapps.io/" target="_blank">
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime1.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime3.png" alt="">
          </div>
          <div class="phone">
            <img src="{{site.baseurl}}/img/featured/screentime/screentime4.png" alt="">
          </div>
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://baton-app.bubbleapps.io/" target="_blank">Baton</a>
        </div>
        <p>Collaborated in a team of 3 self-taught enthusiasts to develop functioning prototype for on-demand service app. Designed responsive layout that smoothly transitions between various screen sizes. Utilized Google Adsense to promote the service through sponsored advertisement.</p>
      </figcaption>
    </div>

    <!-- <div class="project interventions">
      <figure class="project__pic">
        <a href="https://interventions.design/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://interventions.design/" target="_blank">Interventions</a>
        </div>
        <p>Interactive marketing website for Northeastern's first annual student-led design conference, Interventions.</p>
      </figcaption>
    </div> -->
  </div>
</section>
