<section class="section featured-projects">
  <div class="section__title">Featured Project</div>
  <div class="section__content">
    <div class="project">
      <figure class="project__pic">
        <a href="https://github.com/bennettoh/checklist-app" target="_blank">
          <img src="{{site.baseurl}}/img/featured/checklist.png" alt="" />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://github.com/bennettoh/checklist-app" target="_blank"
            >Checklist App</a
          >
        </div>
        <p>Minimalist front-end application made with React.</p>
        <a href="https://github.com/bennettoh/checklist-app">Source</a><br />
        <a href="https://bennettoh.github.io/checklist-app/">Live demo</a>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="https://archituts.com" target="_blank">
          <img
            src="{{site.baseurl}}/img/featured/archituts/archituts-screenshot.png"
            alt=""
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://archituts.com" target="_blank"
            >Archituts e-Learning Platform</a
          >
        </div>
        <p>
          Online learning platform for architects and students.
        </p>
        <p>
          Tools used: JavaScript, JQuery, HTML, CSS, Bootstrap, Firebase
          authentication, YouTube API
        </p>
        <a href="https://archituts.com/">Live demo</a>
      </figcaption>
    </div>

    <div class="project">
      <figure class="project__pic">
        <a href="https://bennettoh.github.io/web3d/" target="_blank">
          <img
            src="{{site.baseurl}}/img/featured/web3d/web3d_animated.gif"
            alt="image not found"
          />
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://bennettoh.github.io/web3d/" target="_blank">Web3D</a>
        </div>
        <p>
          Interactive 3D modeling environment on web browser. It utilizes WebGL
          with the aid of three.js library. Work in progress.
        </p>
        <a href="https://bennettoh.github.io/web3d/">Live demo</a>
      </figcaption>
    </div>
  </div>
</section>
